.header {
  background: #14141B;
  padding: 18px 0;

  @media (max-width: $xs) {
    height: 74px;
    overflow: hidden;
    transition: 0.3s;
    position: relative;
  }

  @media (max-width: $xs) {
    padding: 0;
  }

  &--active {
    @media (max-width: $xs) {
      height: 100vh;

      .header__mobile-button {
        span {
          &:before {
            opacity: 0;
          }

          &:nth-child(1) {
            transform: rotate(45deg);
            margin-top: 10px;
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(3) {
            transform: rotate(-45deg);
            margin-top: -13px;
          }
        }
      }
    }
  }

  &__container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;

    @media (max-width: $lg) {
      width: 1120px;
    }

    @media (max-width: $md) {
      width: 932px;
      flex-wrap: wrap;
    }

    @media (max-width: $sm) {
      width: 738px;
    }

    @media (max-width: $xs) {
      width: calc(100% - 40px);
      flex-direction: column;
      height: 100%;
      padding-bottom: 50px;
    }
  }

  &__logo {

    @media (max-width: $md) {
      order: 0;
    }

    @media (max-width: $xs) {
      margin-top: 14px;
      align-self: flex-start;
      width: 100%;
    }

    img {
      width: 116px;
    }
  }

  &__button {
    font-size: 11px;
    line-height: 15px;
    padding: 3px 11px 4px;
    margin-left: 25px;
    white-space: nowrap;

    @media (max-width: $md) {
      order: 3;
    }

    @media (max-width: $xs) {
      order: 5;
      margin-left: 0;
    }
  }

  &__language {
    display: block;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: white;
    position: relative;
    margin-left: 21px;

    @media (max-width: $lg) {
      font-size: 12px;
    }

    @media (max-width: $md) {
      order: 4;
    }

    @media (max-width: $xs) {
      order: 2;
      margin: 20px 0;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      height: 1px;
      width: 0;
      left: 0;
      top: calc(100% + 3px);
      background: #BDBDBD;
      transition: 0.3s;
    }

    &:hover {
      color: white;

      &:after {
        width: 100%;
      }
    }
  }

  &__mobile-button {
    display: none;

    @media (max-width: $xs) {
      display: block;
      position: absolute;
      top: 29px;
      right: 20px;
      outline: none!important;

      span {
        display: block;
        width: 23px;
        height: 4px;
        background: white;
        border-radius: 2px;
        margin-top: 5px;
        position: relative;
        transition: 0.3s;

        &:before {
          content: '';
          display: block;
          position: absolute;
          width: 4px;
          height: 4px;
          background: white;
          border-radius: 50%;
          right: calc(100% + 3px);
        }

        &:nth-child(1) {
          margin-top: 0;
        }

        &:nth-child(2) {
          width: 17px;
        }

        &:nth-child(3) {

        }
      }
    }
  }
}

.header-menu {
  display: flex;
  align-items: center;
  margin-right: auto;

  @media (max-width: $md) {
    order: 5;
    width: 100%;
    justify-content: center;
    margin-top: 15px;
  }

  @media (max-width: $xs) {
    order: 1;
    margin-top: auto;
    flex-direction: column;
    align-items: flex-end;
  }

  &__item {
    margin-left: 36px;
    display: block;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: white;
    position: relative;
    text-align: center;

    @media (max-width: $lg) {
      font-size: 12px;
      margin-left: 20px;
    }

    @media (max-width: $xs) {
      margin: 10px 0;
      font-size: 14px;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 1px;
      height: 6px;
      right: calc(100% + 18px);
      background: #BDBDBD;
      top: 50%;
      transform: translateY(-50%);

      @media (max-width: $lg) {
        right: calc(100% + 9px);
      }

      @media (max-width: $xs) {
        width: 20px;
        height: 1px;
        left: auto;
        right: 0;
        top: auto;
        transform: translateX(-50%);
        bottom: calc(100% + 10px);
      }
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      height: 1px;
      width: 0;
      left: 0;
      top: calc(100% + 3px);
      background: #BDBDBD;
      transition: 0.3s;

      @media (max-width: $xs) {
        display: none;
      }
    }

    &:first-child {
      &:before {
        display: none;
      }
    }

    &:hover {
      color: white;

      &:after {
        width: 100%;
      }
    }
  }
}

.header-socials {
  display: flex;
  align-items: center;
  margin-left: 33px;

  @media (max-width: $md) {
    order: 1;
    margin-left: auto;
  }

  @media (max-width: $xs) {
    order: 4;
    margin: 20px 0;
    justify-content: center;
  }

  &__item {
    display: block;
    margin-left: 3px;
    width: 24px;

    img {
      max-width: 100%;
    }
  }
}

.header-connect {
  margin-left: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: $lg) {
    margin-left: 20px;
  }

  @media (max-width: $md) {
    order: 2;
  }

  @media (max-width: $xs) {
    order: 3;
    margin-left: 0;
  }

  &__phone {
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    color: white;
    display: block;
    margin-bottom: 5px;

    &:hover {
      color: white;
    }
  }

  &__button {
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    color: white;
    padding: 2px 3px 0;
    border-top: 2px solid white;
    white-space: nowrap;
  }
}