footer.footer
    div.footer__container
        div.footer__column
            a.footer__logo(href="")
                img(src="img/logo.svg")

        div.footer__column
            p.footer__title.footer__title--grey Ribas hotels group
            a.footer__link.scroll-to(href="#company") О компании
            a.footer__link.scroll-to(href="#objects") Наши объекты
            a.footer__link.scroll-to(href="#press") Инвестиционные предложения
            a.footer__link.scroll-to(href="#press") Новости
            a.footer__link(href="") Блог
            a.footer__link.scroll-to(href="#contacts") Контакты

        div.footer__column
            p.footer__title Услуги
            a.footer__link(href="") Гостиничный девелопмент
            a.footer__link(href="") Гостиничная франшиза
            a.footer__link(href="") Управление и бронирование
            a.footer__link(href="") Гостиничный консалтинг

        div.footer__column
            p.footer__title Контакты
            a.footer__link(href="tel:+38 (048) 706-47-36") +38 (048) 706-47-36
            p.footer__link Украина, Одесса, пр. Гагарина, 25
            a.footer__link(href="mailto:partners@ribashotels.com") partners@ribashotels.com

            div.header-socials
                a.header-socials__item(href="https://fb.com/ribasgroup" target="_blank")
                    img(src="img/fb.svg")
                a.header-socials__item(href="https://www.youtube.com/channel/UCaJGpS0aOcUeYP7MhHkXjCA" target="_blank")
                    img(src="img/yt.png")

            a.button.footer__button(href="") Сеть отелей

        button.footer__up
            img(src="img/up.png")