header.header
    div.header__container
        a.header__logo(href="")
            img(src="img/logo.svg")

        nav.header-menu
            a.header-menu__item.scroll-to(href="#company") О&nbsp;компании
            a.header-menu__item.scroll-to(href="#objects") Наши объекты
            a.header-menu__item.scroll-to(href="#press") Инвестиционные предложения
            a.header-menu__item.scroll-to(href="#press") Новости
            a.header-menu__item(href="") Блог
            a.header-menu__item.scroll-to(href="#contacts") Контакты
        div.header-socials
            a.header-socials__item(href="https://fb.com/ribasgroup" target="_blank")
                img(src="img/fb.svg")
            a.header-socials__item(href="https://www.youtube.com/channel/UCaJGpS0aOcUeYP7MhHkXjCA" target="_blank")
                img(src="img/yt.png")

        div.header-connect
            a.header-connect__phone(href="tel:+380487064736") +380487064736
            button.header-connect__button Обратный звонок

        a.button.header__button(href="") Сеть отелей

        a.header__language(href="") RU

        button.header__mobile-button
            span
            span
            span