header.header
    div.header__container
        a.header__logo(href="")
            img(src="img/logo.svg")

        nav.header-menu
            a.header-menu__item.scroll-to(href="#company") О&nbsp;компании
            a.header-menu__item.scroll-to(href="#objects") Наши объекты
            a.header-menu__item.scroll-to(href="#press") Инвестиционные предложения
            a.header-menu__item.scroll-to(href="#press") Новости
            a.header-menu__item.scroll-to(href="#contacts") Контакты
            a.header-menu__item(href="") Блог
        div.header-socials
            a.header-socials__item(href="")
                img(src="img/fb.svg")
            a.header-socials__item(href="")
                img(src="img/insta.svg")

        div.header-connect
            a.header-connect__phone(href="tel:+380509158947") +380509158947
            button.header-connect__button Обратный звонок

        a.button.header__button(href="") Сеть отелей

        a.header__language(href="") RU

        button.header__mobile-button
            span
            span
            span